<h1>New</h1>

<%= form_for @house do |f| %>

	<%= f.select :house_type, [['Apartment', 'Apartment']] %>
	<%= f.text_field :rooms %>
	<%= f.text_field :price %>
	<%= f.submit "Submit House" %>

<% end  %>
